{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'produts.css' %}">
{% endblock %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if product.image %}
                        <img class="product_image" src="/media/{{ product.image }}" alt="">
                    {% else %}
                        <img class="product_image" src="/media/no-image.jpg" alt="">
                    {% endif %}
                    <h5 class="card-title">{{ product.brand.upper }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Mодель: {{ product.phone_model.capitalize }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Pейтинг: {{ product.rate }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Oписание: {{ product.descriptions }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Цвет: {{ product.color }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Память: {{ product.memory }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Цена: {{ product.price }}</h6>
                    <a href="/products/{{ product.id }}" class="card-link">Больше инфо.</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}